<!--
 * @Descripttion: 
 * @version: 
 * @Author: Yunjie Ge
 * @Date: 2020-11-12 09:01:30
 * @LastEditors: Yunjie Ge
 * @LastEditTime: 2020-11-16 11:45:22
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>文本行的斑马条纹</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/public.css" />
    <script src="../../js/JParticles.js"></script>
    <style>
      .middle {
        position: relative;
      }
      .container-middle {
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 0 4px 4px seagreen;
        width: 300px;
        height: 200px;
        background: seagreen;
        display: flex;
        flex-direction: column;
      }
      .container-start {
        top: 25%;
        left: 20%;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="bx">
        <nav class="flex space-between">
          <span class="logo">cssCase</span>
          <div class="nav flex">
            <ul class="flex">
              <li><a href="http://www.css.case.qcwy.org.cn">首页</a></li>
              <li>
                <a href="http://www.css.case.qcwy.org.cn/caseList.html"
                  >案例列表</a
                >
              </li>
              <li>
                <a target="_blank" href="http://www.blog.geyunjie.com">博客</a>
              </li>
              <li>
                <a href="http://www.css.case.qcwy.org.cn/about.html">关于我</a>
              </li>
              <li>
                <a target="_blank" href="https://github.com/pythongyj/cssCase"
                  >github</a
                >
              </li>
            </ul>
          </div>
        </nav>
        <div class="middle flex__1 py__020 border-box">
          <div class="container-middle container-start"></div>
        </div>
        <footer class="flex-center-center flex-column">
          <p>
            <span> Copyright © 2017-2020</span
            ><span>
              优秀经验<a
                href="https://juejin.im/"
                target="_blank"
                rel="noopener"
              >
                掘金.</a
              ></span
            ><span>
              视频学习<a
                rel="nofollow"
                target="_blank"
                href="https://www.bilibili.com/"
              >
                B站学习.</a
              ></span
            >
          </p>
          <p><span> 浙ICP备19013115号-2 程序即女友，长情终一生</span></p>
        </footer>
      </div>
      <div id="container" class="container"></div>
    </div>

    <script>
      new JParticles.particle("#container", {
        num: "0.1",
        lineShape: "cube",
        parallax: true,
        eventElem: document.querySelector(".bx"),
      });
    </script>
  </body>
</html>
